DF/pipeline/variables_pipeline.json
{
	"name": "variables_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup for json file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "http_links_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach set variable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for json file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for json file').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set base url variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "baseurl",
								"value": {
									"value": "@item().sourceBaseURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable relative url",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "relativeurl",
								"value": {
									"value": "@item().sourceRelativeURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable file name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item().sinkFileName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy latest data by variables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_http_input_parameterized",
						"type": "DatasetReference",
						"parameters": {
							"baseurl_parameter": {
								"value": "@variables('baseurl')",
								"type": "Expression"
							},
							"relativeurl_parameter": {
								"value": "@variables('relativeurl')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_http_output_parameterized",
						"type": "DatasetReference",
						"parameters": {
							"outputfile_name": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"baseurl": {
				"type": "String"
			},
			"relativeurl": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-16T12:19:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}